Employee_Management_System.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Company" type="CompanyType"/>
  <xs:complexType name="EmployeeType">
    <xs:sequence>
      <xs:element type="xs:string" name="Emp-name"/>
      <xs:element type="xs:byte" name="Emp-age"/>
      <xs:element type="xs:string" name="Emp-salary"/>
      <xs:element type="xs:string" name="Emp-emailid"/>
      <xs:element type="xs:long" name="Emp-Phonenum"/>
      <xs:element type="xs:string" name="Emp-designation"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompanyType">
    <xs:sequence>
      <xs:element type="EmployeeType" name="Employee" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="MySalary">
  <xs:restriction base="xs:integer">
  <xs:maxExclusive value="200000"></xs:maxExclusive>
  <xs:minExclusive value="50000"></xs:minExclusive>
  </xs:restriction>
  </xs:simpleType>
</xs:schema>